<!DOCTYPE html>
<html>
<head>
  <title>Tp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <%= link_to root_path, class: 'brand-logo left' do %> <i class="fab fa-twitter white-text"></i> Twitter <%end %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Accueil', root_path %></li>
      <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>
<main>
  <%= yield %>
</main>
</body>
</html>
